.body{
 
}
.app {
    padding-left: 15%;
    padding-right: 15%;
   
}

.mainheader {
    padding: 30px;
    box-shadow: 10px 3px 25px 1px black;
}

.self {
    margin-top: 40px
}

.subBtn {
    float: right
}

.cardDetail {
    margin-top: 70px;
}

.cardInfo {
    padding: 20px;
}

.cardDiv {
    padding: 20px;
}
